@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$primary-color: #993a98;
$secondary-color: #6f3a70;
$light-bg: #f8f9fa;
$dark-bg: #212529;
$text-dark: #333;

body {
    font-family: "Roboto";
    color: $text-dark;
    background-color: $light-bg;
}

.navbar {
    background-color: $light-bg;
    .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
        color: $primary-color;
        font-family: "Oswald";
    }
    .nav-link {
        color: $text-dark;
        font-family: "Oswald";
        margin-right: 2rem;
        font-size: 1.3rem;
        &:hover {
            color: $primary-color;
        }
    }
}

.btn-cart:hover {
    background-color: $secondary-color;
    .badge {
        background-color: white;
        color: black;
    }

}

.badge {
    background-color: black;
    color: white;
}



.header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(112, 65, 206, 0.863)), url('../images/banner.webp') center/cover;
    .display-4 {
        font-weight: bold;
        text-transform: uppercase;
    }
}

section {
    h2 {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-family: "Oswald";
    }
    i {
        color: $primary-color;
    }
}

.card {
    border: none;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
    .card-img-top {
        height: 250px;
        object-fit: cover;
    }
    .card-body {
        h5 {
        font-size: 1.1rem;
        font-weight: bold;
        }
        color: $text-dark;
    }
    .card-footer {
        background-color: transparent;
        border-top: none;
        .btn {
        border-color: $primary-color;
        color: $primary-color;
        &:hover {
            background-color: $primary-color;
            color: white;
        }
        }
    }
}


#cartModal {
    .modal-title {
        color: $primary-color;
    }
    .bill {
        color: $secondary-color;
    }
    .btn {
        background-color: #6f3a70;
        color: white;
        &:hover {
            background-color: #f8f9fa;
            color: black;
        }
    }
}

.bord {
        padding: 1rem;
        .btn {
            background-color: #6f3a70;
            color: white;
            &:hover {
                background-color: white;
                color: #212529;
            }
        }
}

.title {
    font-family: "Oswald";
}
